<header>
  <img id="menu" [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png'" alt="">
  <p>Autenticação</p>
</header>

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Recuperação de Senha</h3>
      <p class="text-center">Por favor, insira seu email para que seja possível efetuar a recuperação de senha.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Recuperar senha" (click)="authService.forgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Voltar ao? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>
</div>
